/* Global Styles - Works with Bootstrap */

body {
	margin: 0;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	width: 100%;
	min-height: 100vh;
}

.App {
	width: 100%;
	min-height: 100vh;
}
